<div>
    <h2>Listado de Productos</h2>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Título</th>
                <th>Código</th>
                <th>Precio</th>
                <th>Estado</th>
                <th>Stock</th>
                <th>Categoría</th>
                <th>Miniaturas</th>
            </tr>
        </thead>
        <tbody>
            {{#each products}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.title}}</td>
                <td>{{this.code}}</td>
                <td>{{this.price}}</td>
                <td>{{this.status}}</td>
                <td>{{this.stock}}</td>
                <td>{{this.category}}</td>
                <td>
                    {{#each this.thumbnails}}
                    {{!-- Muestra la primera imagen unicamente --}}
                    {{#if @first}}
                    <img src="{{this}}" alt="Thumbnail">
                    {{/if}}
                    {{/each}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>